@font-face {
    font-family: 'lemonade_standregular';
    src: url('../fonts/lemonade_stand_d-webfont.woff2') format('woff2'),
    url('../fonts/lemonade_stand_d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'lemonade_standregular', 'Arial', sans-serif;
    background: url('../img/bg.jpg') center / cover;
}

#root {
    display: grid;
    grid-template: 1fr 100px / repeat(2, 1fr);
    align-items: center;
}

#hm-word {
    user-select: none;
    grid-column: span 2;
    margin: 0 auto;
    font-size: 50px;
}

.hm-word-letter {
    margin: 0 10px;
}

#hm-letters {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hm-letter {
    display: inline-block;
    font-size: 50px;
    margin: 0 10px;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
}

.hm-unavailable {
    opacity: .2;
}

.hm-hidden {
    border-bottom: 2px solid #000;
}

#hm-gibbet {
    user-select: none;
    display: block;
    margin: 0 auto;
}
